{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "project": "."
      }
    }
  },
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": [
    "eslint:recommended", 
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "react", "simple-import-sort"],
  "ignorePatterns": ["node_modules/", ".next/"],
  "rules": {    
    // General
    "no-console": "warn",
    "no-multi-spaces": "warn",
    "strict": "off",
    
    //React
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
          "components": ["Link"],
          "specialLink": ["hrefLeft", "hrefRight"],
          "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "indent": ["error", 2, { "ignoredNodes": ["JSXElement", "JSXElement *"]}],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-unused-vars": 0, 
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],

    // Prettier
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }]
  }
}